## Auto generated aft-providers.tf ##
## Updated on: {{ timestamp }} ##

provider "aws" {
  region = "{{ provider_region }}"
  assume_role {
    role_arn = "{{ aft_admin_role_arn }}"
  }
  default_tags {
    tags = {
      managed_by = "AFT"
      created_by = "account-request"
    }
  }
}

# provider "github" {
#  owner = jsondecode(data.aws_secretsmanager_secret_version.aft_secrets.secret_string)["gh_owner"]
#  token = jsondecode(data.aws_secretsmanager_secret_version.aft_secrets.secret_string)["github_token"]
# }
