## Auto generated aft-providers.tf ##
## Updated on: {{ timestamp }} ##

provider "aws" {
  region = "{{ provider_region }}"
  assume_role {
    role_arn = "{{ aft_admin_role_arn }}"
  }
  default_tags {
    tags = {
      managed_by = "AFT"
      created_by = "account-request"
    }
  }
}

locals {
  aft_secrets = jsondecode(data.aws_secretsmanager_secret_version.aft_secrets.secret_string)
}

provider "github" {
  owner = local.aft_secrets["gh_owner"]
  token = local.aft_secrets["github_token"]
}
